<form  action="/books/new" method="post">
  name:<input type="text" name="name" value="">
  author:<input type="text" name="author" value="">
  comment:<input type="text" name="comment" value="">
  sentence:<input type="text" name="sentence" value="">
</form>
